.navbar {
background-color:#118bc0;
width:100%;
height: 46px;

}

.container {
background-color:#0070a4;
color: white;
height: 1200px;
width: 100%;
text-align: center;
padding-top: 150px;
font-family: sans-serif;

}
.bluebutton{
background-color: #118bc0;
height: 75px;
width: 350px;
border: 7px solid black;
margin: 0 auto;
padding-top: 15px;
margin-top: 50px;


}
















}

.mainbody {
background-color:

}
